/* #true-list{list-style-type: none;}
ul {
    line-height: 1.5em;
    margin: 5px 0 15px;
    padding: 0;
    text-align: start;
  }
  
  li {
    list-style: none;
    position: relative;
    padding: 0 0 0 20px;
  }
     
li.circle-checkmark::before {
    content: ""; 
    position: absolute; 
    left: 0; 
    top: 2px; 
    border: solid 8px #f9dd94;
    border-radius: 8px;
  }
  
  li.circle-checkmark::after {
    content: ""; 
    position: absolute; 
    left: 5px;
    top: 5px;
    width: 3px;
    height: 6px;
    border: solid #7eb4e2;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  } */